src/main/resources/com/sentenial/origix/ws/common/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="urn:com:sentenial:origix:ws:common:types"
	xmlns="urn:com:sentenial:origix:ws:common:types"
	xmlns:tns="urn:com:sentenial:origix:ws:common:types"
	elementFormDefault="qualified" version="1.0-SNAPSHOT">

	<!-- Types -->
	<xs:simpleType name="IsoDate">
		<xs:restriction base="xs:date" />
	</xs:simpleType>

	<xs:simpleType name="IsoCountryCode">
		<xs:restriction base="xs:token">
			<xs:minLength value="2" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BicIdentifier">
		<xs:annotation>
			<xs:documentation>
				http://www.swift.com/biconline/index.cfm?fuseaction=display_aboutbic
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IbanIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Email">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*@.*" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70AlphaNumForUsername">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9a-zA-Z\\.\\_-]{0,70}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70AlphaNum">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9a-zA-Z\\ \\,\\.\\_\\+\\(\\)\\(/)\\'-]{0,70}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70TextMandatory">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max30AlphaNumNoSpace">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9a-zA-Z\\,\\.\\+\\(\\)\\/:\\?'-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max70AlphaNumNoSpace">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9a-zA-Z\\,\\.\\+\\(\\)\\/:\\?'-]{0,70}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    
     <xs:simpleType name="Max35TextMandatory">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
            
    <xs:simpleType name="Max35AlphaNumNoSpace">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9a-zA-Z\\,\\.\\+\\(\\)\\/:\\?'-]{0,35}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 
      The current EPC Implementation Guidelines define a basic Latin character 
      set that consists of the following characters:
      a-z A-Z 0-9
      / - ? : ( ) . , ' + whitespace      
    -->
    <xs:simpleType name="Max16EPCImplAllowed">
        <xs:restriction base="xs:token">
          <xs:pattern value="[0-9a-zA-Z&apos;\s\-\\,\.\(\)/\?\\:\+]{0,16}"/>
        </xs:restriction>       
    </xs:simpleType>
    
    <xs:simpleType name="Max70EPCImplAllowed">
        <xs:restriction base="xs:token">
          <xs:pattern value="[0-9a-zA-Z&apos;\s\-\\,\.\(\)/\?\\:\+]{0,70}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max70EPCImplAllowedMandatory">
        <xs:restriction base="xs:token">
          <xs:pattern value="[0-9a-zA-Z&apos;\s\-\\,\.\(\)/\?\\:\+]{1,70}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max11Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="140"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="Max35Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max50Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{0,50}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max30Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{0,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max19Number">
        <xs:restriction base="xs:token">
        	<xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:token">
        	<xs:pattern value="[0-9]{1,15}[\\.]{0,1}[0-9]{0,2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max15Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2Number">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max32Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Max254Text">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    
	<!-- Enumerations -->
	<xs:simpleType name="DomesticFormat">
		<xs:restriction base="xs:token">
			<xs:enumeration value="DF_SCHEME" />
			<xs:enumeration value="NL_SCHEME" />
			<xs:enumeration value="FR_SCHEME" />
			<xs:enumeration value="BE_SCHEME" />
			<xs:enumeration value="ES_SCHEME" />
			<xs:enumeration value="SK_SCHEME" />
			<xs:enumeration value="IT_SCHEME" />
			<xs:enumeration value="PX_SCHEME" />
			<xs:enumeration value="PBA" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SchemeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="CORE" />
			<xs:enumeration value="B2B" />
			<xs:enumeration value="COR1" />
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="CancelDirectDebitReasonCode">
		<xs:restriction base="xs:token">
			<xs:enumeration value="AGNT" />
			<xs:enumeration value="CURR" />
			<xs:enumeration value="CUST" />
			<xs:enumeration value="CUTA" />
			<xs:enumeration value="DUPL" />
			<xs:enumeration value="UPAY" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SignatureResubmitRequiredRule">
		<xs:restriction base="xs:token">
			<xs:enumeration value="DEFAULT" />
			<xs:enumeration value="SEND" />
			<xs:enumeration value="DO_NOT_SEND" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ReturnCode">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1000" />
			<xs:enumeration value="1001" />
			<xs:enumeration value="1002" />
			<xs:enumeration value="1003" />
			<xs:enumeration value="1004" />
			<xs:enumeration value="1005" />		
			<xs:enumeration value="1006" />
			<xs:enumeration value="1007" />
			<xs:enumeration value="1008" />
			<xs:enumeration value="1010" />
			<xs:enumeration value="2000" />
			<xs:enumeration value="3013" />
			<xs:enumeration value="3016" />
			<xs:enumeration value="4021" />
			<xs:enumeration value="4022" />
			<xs:enumeration value="4037" />
		    <xs:enumeration value="9000" />
			<xs:enumeration value="9001" />				
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MandateType">
		<xs:restriction base="xs:token">
<!--		<xs:enumeration value="FRST" />
			<xs:enumeration value="FNAL" /> -->
			<xs:enumeration value="OOFF" />
			<xs:enumeration value="RCUR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MandateStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="CANCELLED" />
			<xs:enumeration value="COMPLETE" />
			<xs:enumeration value="PENDING" />
			<xs:enumeration value="UNREADABLE" />
			<xs:enumeration value="UNSIGNED" />
			<xs:enumeration value="SCREENING" />
			<xs:enumeration value="SUSPENDED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommunicationLanguage">
		<xs:restriction base="xs:token">
		    <xs:enumeration value="pt" />
			<xs:enumeration value="nl" />
			<xs:enumeration value="fr" />
			<xs:enumeration value="en" />
			<xs:enumeration value="it" />
			<xs:enumeration value="es" />
			<xs:enumeration value="de" />
			<xs:enumeration value="sk" />
			<xs:enumeration value="fr_BE" />
			<xs:enumeration value="nl_BE" />			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BeneficiaryLanguage">
		<xs:restriction base="xs:token">
			<xs:enumeration value="nl" />
			<xs:enumeration value="fr" />
			<xs:enumeration value="en" />
			
			<xs:enumeration value="es" />
			
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="MandateRequestMode">
		<xs:restriction base="xs:token">
			<xs:enumeration value="VALIDATE_CREATE_UNSIGNED_PDF" />
			<xs:enumeration value="CREATE_MANDATE_PDF_SIGNED" />
		</xs:restriction>		
	</xs:simpleType>

    <xs:simpleType name="IpAddress">
        <xs:restriction base="xs:token">
            <xs:minLength value="0"/>
            <xs:maxLength value="39"/>
        </xs:restriction>
    </xs:simpleType>	
    
    <xs:simpleType name="PaymentStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="READY_FOR_EXPORT" />
			<xs:enumeration value="EXPORTING" />
			<xs:enumeration value="REVOKED" />
			<xs:enumeration value="EXPORTED" />
			<xs:enumeration value="ACCEPTED" />
			<xs:enumeration value="REVERSED" />
			<xs:enumeration value="REFUSED" />
			<xs:enumeration value="REJECTED" />
			<xs:enumeration value="RETURNED" />
			<xs:enumeration value="REFUNDED" />
			<xs:enumeration value="CANCELLED" />
			<xs:enumeration value="PENDING" />
			<xs:enumeration value="INVALID" />
			<xs:enumeration value="REPRESENTED" />
			<xs:enumeration value="RECALLED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BeneficiaryPaymentStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="READY_FOR_EXPORT" />
			<xs:enumeration value="EXPORTED" />
			<xs:enumeration value="EXPORTING" />
      <xs:enumeration value="ACCEPTED" />
			<xs:enumeration value="RECALLED" />
			<xs:enumeration value="REJECTED" />
			<xs:enumeration value="CANCELLED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PaymentFrequency">
		<xs:restriction base="xs:token">
			<xs:enumeration value="DAILY" />
			<xs:enumeration value="WEEKLY" />
			<xs:enumeration value="BIWEEKLY" />
			<xs:enumeration value="MONTHLY" />
			<xs:enumeration value="YEARLY" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PaymentType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="FIXED_LENGTH" />
			<xs:enumeration value="OPEN_ENDED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PaymentDayofWeek">
		<xs:restriction base="xs:token">
			<xs:enumeration value="MONDAY" />
			<xs:enumeration value="TUESDAY" />
			<xs:enumeration value="WEDNESDAY" />
			<xs:enumeration value="THURSDAY" />
			<xs:enumeration value="FRIDAY" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PmtWeekOfMonth">
		<xs:restriction base="xs:token">
			<xs:enumeration value="FIRST" />
			<xs:enumeration value="SECOND" />
			<xs:enumeration value="THIRD" />
			<xs:enumeration value="FOURTH" />
			<xs:enumeration value="LAST" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="DateInMonth">
       <xs:restriction base="xs:token">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4"/>
			<xs:enumeration value="5" />
			<xs:enumeration value="6" />			
			<xs:enumeration value="7" />
			<xs:enumeration value="8" />
			<xs:enumeration value="9" />
			<xs:enumeration value="10" />
			<xs:enumeration value="11"/>
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />			
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="16" />
			<xs:enumeration value="17"/>
			<xs:enumeration value="18" />
			<xs:enumeration value="19" />			
			<xs:enumeration value="20" />
			<xs:enumeration value="21" />
			<xs:enumeration value="22" />
			<xs:enumeration value="23" />
			<xs:enumeration value="24"/>
			<xs:enumeration value="25" />
			<xs:enumeration value="26" />			
			<xs:enumeration value="27" />
			<xs:enumeration value="28" />
			<xs:enumeration value="29" />
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
		</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PmtStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Ready For Export" />
			<xs:enumeration value="Revoked" />
			<xs:enumeration value="Exported" />
			<xs:enumeration value="Accepted" />
			<xs:enumeration value="Refused" />
			<xs:enumeration value="Rejected" />
			<xs:enumeration value="Returned" />
			<xs:enumeration value="Refunded" />
			<xs:enumeration value="Cancelled" />
			<xs:enumeration value="Pending" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="MandateSource">
		<xs:restriction base="xs:token">
			<xs:enumeration value="OCX" />
			<xs:enumeration value="Emandate_App" />
		</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="AuthMethod">
		<xs:restriction base="xs:token">
			<xs:enumeration value="CHECK_BOX" />
			<xs:enumeration value="SMS_PASSWORD" />
			<xs:enumeration value="EMAIL_PASSWORD" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>